<h1>Listing comemnts</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comemnts.each do |comemnt| %>
      <tr>
        <td><%= comemnt.post_id %></td>
        <td><%= comemnt.body %></td>
        <td><%= link_to 'Show', comemnt %></td>
        <td><%= link_to 'Edit', edit_comemnt_path(comemnt) %></td>
        <td><%= link_to 'Destroy', comemnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comemnt', new_comemnt_path %>
