<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comemnt.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comemnt.body %>
</p>

<%= link_to 'Edit', edit_comemnt_path(@comemnt) %> |
<%= link_to 'Back', comemnts_path %>
